/* =======================
 *         GLOBAL        *
 * ===================== */
body,
html {
    font-family: @font;
    font-weight: @normal;
    font-size: @font-size-base;
    color: @black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: @gray-light;
    background-image: url('https://image.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg');
}
p{
    line-height: @line-height-base;
}

.container{
    background-color: white;
}
.container-fluid{
    background-color: white;
}
a{
    color: @blue;
    &:focus,
    &:hover{
        text-decoration: none;
    }
}
img{
    max-width: 100%;
}
hr{
    opacity: 0.5;
}

.container-thumbnail{
    width: 100%;
    padding: 150px 0px 200px 0px;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: -@margin-content * 2;
    border-bottom: 1px solid #ddd;
    h1{
        color: white;
        font-size: 50px;
        text-shadow: @light-box-shadow;
    }
}
.blog-author{
    font-size: 18px;
}
