#header{
    background: white;
    padding: 0px 30px;
    box-shadow: @light-box-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    a{
        color: @black-light;
    }
    .logo-container{
        .hdr-logo-link{
            height: 100%;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: center;
            font-weight: @extrabold;
            font-size: 16px;
            text-transform: uppercase;
            img{
                height: 30px;
            }
            span{
                margin-left: 20px;
            }
        }
    }
    #nav-main{
        display: inline-block;
        li{
            list-style: none;
            a{
              font-size: 14px;
              font-weight: 600;
            }
        }
        >ul{
            height: 100%;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-content: flex-start;
            align-items: center;
            margin: 0;
            >li{
                margin-left: 20px;
                position: relative;
                padding: 11px 0;
                >ul{
                    position: absolute;
                    left: 0px;
                    display: none;
                    background: #fff;
                    padding: 5px 22px;
                    border: 1px solid @gray;
                    top: 50px;
                    li{
                        margin: 0;
                        padding: 2px;
                        text-align: center;
                        border-bottom: 1px solid @gray;
                        a{
                           white-space: nowrap;
                           font-weight: normal;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
                &:hover{
                    >ul{
                        display: block;
                    }
                }
            }
        }
    }
}
