#header{
    background: white;
    padding: 15px;
    .logo-container{
        display: inline-block;
    }
    #nav-main{
        display: inline-block;
        ul{
            li{
                display: inline-block;
                list-style: none;
            }
        }
    }
}
